:root {
    --gameBoardWidth: 70vw;
    --gameBoardHeight: 70vh;
    --boardMinDimension: 65vmin;
}

body {
    height : 95vh;
    width: 95vw;
    margin: auto;
}

.board-container {
    min-width: var(--gameBoardWidth);
    min-height: var(--gameBoardHeight);
    max-width: var(--gameBoardWidth);
    max-height: var(--gameBoardHeight);
    margin: auto;
    display: flex;
    justify-content: center;
}

.board {
    min-width: var(--boardMinDimension);
    min-height: var(--boardMinDimension);
    max-width: var(--boardMinDimension);
    max-height: var(--boardMinDimension);
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.board-item {
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: auto;
    font-size: 15vmin;
    line-height: 24vmin;
    color: white;
}

.colored {
    color : black;
}

.board div:nth-child(3n) {
    border-right: none;
}

.board-item:nth-child(-n + 3) {
    border-top: none;
} 

.board-item:nth-child(3n  - 2) {
    border-left: none;
} 

.board-item:nth-child(n + 7) {
    border-bottom: none;
} 

.title {
    margin-top: 1vmin;
    font-size: 8vmin;
}

h1, h4, .title {
    text-align: center;
}